networks:
    # rete per la comunicazione interna dei containers
    # auth-net:
    #     name: auth-net

    # rete di default per la comunicazione con il proxy,
    # da instanziare solo sui containers che si espongono
    default:
        name: traefik_net
        external: true

##########################################
secrets:
    MONGO_USER_PW:
        file: lib/secrets/MONGO_AUTHUSER_PW
    MAIL_CONFIG:
        file: lib/secrets/MAIL_CONFIG
    JWT_CERT:
        file: lib/secrets/certs/auth.crt
    JWT_KEY:
        file: lib/secrets/keys/auth.key

##########################################
volumes:
    auth-vol:
        name: auth-vol

##########################################
services:
    backend:
        image: cr.dag.lan/auth-backend:latest
        restart: unless-stopped
        container_name: auth-backend
        environment:
            MODE: PRODUCTION
            TZ: Europe/Rome
            MONGO_USER: authuser
            MONGO_DB: auth
            MONGO_HOST: mongo1.dag.lan:27017,mongo2.dag.lan:27017,mongo3.dag.lan:27017
        networks:
            - default
            # - auth-net
        volumes:
            - ./lib/assets:/app/assets
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
        secrets:
            - MAIL_CONFIG
            - MONGO_USER_PW
            - JWT_CERT
            - JWT_KEY

        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.authbackend.rule=Host(`auth.dag.lan`) && PathPrefix(`/api`) "
            - "traefik.http.routers.authbackend.entrypoints=websecure"
            - "traefik.http.routers.authbackend.tls=true"
            # - "traefik.http.routers.authbackend.tls.certresolver=le"
            - "traefik.http.routers.authbackend.middlewares=auth_stripprefix@docker"
            - "traefik.http.middlewares.auth_stripprefix.stripprefix.prefixes=/api"
