networks:
    # rete di default per la comunicazione con il proxy,
    # da instanziare solo sui containers che si espongono
    default:
        name: traefik_net
        external: true

##########################################
secrets:
    # password per l'utente del database
    MONGO_USER_PW:
        file: lib/secrets/MONGO_AUTHUSER_PW
    # configurazione per l'invio di email
    MAIL_CONFIG:
        file: lib/secrets/MAIL_CONFIG
    # certificato per la firma dei JWT
    JWT_CERT:
        file: lib/secrets/certs/auth.crt
    # chiave per la firma dei JWT
    JWT_KEY:
        file: lib/secrets/keys/auth.key

##########################################
volumes:
    auth-vol:
        name: auth-vol

# ##########################################
services:
    backend:
        image: ghcr.io/ildug/auth-backend:latest
        container_name: auth-api
        restart: unless-stopped

        environment:
            HOST: "https://auth.dag.lan/api/v1" # HOST con protocollo, porta e prefix
            TZ: Europe/Rome
            MONGO_USER: authuser # username of mongodb
            MONGO_DB: auth # database name
            MONGO_HOST: mongo1.dag.lan:27017,mongo2.dag.lan:27017,mongo3.dag.lan:27017 # mongodb replica set hosts

        networks:
            - default

        volumes:
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro

        secrets:
            - MAIL_CONFIG
            - MONGO_USER_PW
            - JWT_CERT
            - JWT_KEY

        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.authbackend.rule=Host(`auth.dag.lan`) && PathPrefix(`/api/v1`) "
            - "traefik.http.routers.authbackend.entrypoints=websecure"
            - "traefik.http.routers.authbackend.tls=true"
            - "traefik.http.routers.authbackend.tls.certresolver=le"
            - "traefik.http.routers.authbackend.middlewares=auth_stripprefix@docker"
            - "traefik.http.middlewares.auth_stripprefix.stripprefix.prefixes=/api/v1"
