name: Build Images and Deploy

on:
    release:
        types: [published]

env:
    REGISTRY: ghcr.io
    IMAGE: ildug/auth-backend

jobs:
    containerize_bakend:
        name: Build backend api application and push Docker image
        runs-on: ubuntu-latest
        if: github.ref_type == 'tag'
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Get Semver Tag
              uses: ilDug/get-tag-action@v1.0.3
              id: tag

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push
              run: |
                  docker buildx create --driver docker-container --use
                  docker buildx buid . \
                    --file docker-compose.prod.yaml \
                    --tag ${{ env.REGISTRY }}/${{ env.IMAGE }}:${{ steps.tag.outputs.version }} \
                    --tag ${{ env.REGISTRY }}/${{ env.IMAGE }}:latest \
                    --platform linux/amd64,linux/arm64 \
                    --push
